@font-face {
    font-family: "Roboto";
    src: url(src/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 4.5vw;
    line-height: 1.2;
    font-weight: normal;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.products__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.product {
    height: 117vw;
    background-color: bisque;
    padding: 5vw;
}

.product__inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
}

.product__image-wrapper {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vw;
    background-color: #FFF;
}

.product_on-sale .product__image-wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "Sale";
    padding: 10px;
    background-color: burlywood;
}


.product__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__title-wrapper {}

.product__title {
    font-weight: normal
}

.product__price-wrapper {
    display: flex;
    gap: 15px;
}

.product__price_striked {
    text-decoration: line-through;
}