@font-face {
    font-family: "Roboto";
    src: url(src/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 1.2;
    font-weight: normal;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.products {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 4.5vw;
}

.products__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.product {
    height: 117vw;
    background-color: bisque;
    padding: 5vw;
    cursor: pointer;
}

.product__inner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
}

.product__image-wrapper {
    position: relative;
    width: 90vw;
    height: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FFF;
}

.product_on-sale .product__image-wrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "Sale";
    padding: 10px;
    background-color: burlywood;
    z-index: 1;
}

.product__image-wrapper::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    content: "Quick View";
    padding: 10px;
    background-color: #FFFB;
    opacity: 0;
    transition: 0.5s;
}

.product:hover .product__image-wrapper::after {
    opacity: 1;
}

.product__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.9);
    transition: 0.5s;
}

.product:hover .product__image {
    transform: scale(1.1);
}

.product__title {
    font-weight: normal;
}

.product__price-wrapper {
    display: flex;
    gap: 15px;
}

.product:not(.product_on-sale) .product__price_striked {
    display: none;
}

.product__price_striked {
    text-decoration: line-through;
}


@media (min-width: 576px) {
    .products {
        font-size: 2.5vw;
    }

    .products__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product {
        height: 58vw;
        padding: 2.5vw;
    }

    .product__inner-wrapper {
        gap: 1.5vw;
    }

    .product__image-wrapper {
        width: 44vw;
        height: 44vw;
    }
}

@media (min-width: 768px) {
    .products {
        font-size: 2vw;
    }

    .products__wrapper {
        gap: 0.5vw;
    }

    .product {
        height: 41vw;
        padding: 2vw;
    }

    .product__inner-wrapper {
        gap: 1.8vw;
    }

    .product__image-wrapper {
        width: 28vw;
        height: 28vw;
    }
}

@media (min-width: 992px) {
    .products {
        font-size: 16px;
    }

    .products__wrapper {
        gap: 10px;
    }

    .product {
        height: 340px;
        padding: 15px;
    }

    .product__inner-wrapper {
        gap: 10px;
    }

    .product__image-wrapper {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 0;
    }
}